*{
    margin: 0px;
    padding: 0px;

}
.container{
     border: 5px solid rgb(23, 22, 22);
     padding: 5px;
     display: flex;
     height: 1117px;
     color: white;
     width: auto;
}
.left{
    width: 401px;
     
     background: rgba(12, 14, 16, 1);
     padding: 5px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;
}
.right{
    width: 1327px;
    
}
.left-items{
   
    width: 100%;
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
}
.logo img{
    width: 298px; 
    height: 298px; 
    margin-bottom: 0px;
}
.rest-menu h3{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.rest-menu p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 36, 36, 1);
}
.quick-links, .about-us{
    align-items: flex-start;
    gap: 10px;
   
}
.quick-links p , .about-us p{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    display: flex;
    margin: auto;
}
.quick-links ol li , .about-us ol li{
    font-size: 24px;
    list-style: none;
    padding-left: 20px;
}
.quick-links ol li a , .about-us ol li a{
    font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
}